<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>list</title>

</head>
<body class="container">
	<form method="post">
		<label>Выберите Id пользователя, которого хотите удалить</label>
		<select name="ID">
		<% arr.forEach(function(item1){ %>    
		<option value=<%= item1%>><%= item1%></option>
		<% });  %>
		</select> 
		<br><br>
		<button type="submit">Отправить</button>
	</form>
	
</body>
</html>