<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
</head>
<body>
	<form method="post">
		<select name="id">
		<% arr.forEach(function(item){ %>    
		<option value=<%= item%>><%= item%></option>
		<% });  %>
		</select> 
		<br><br>
		<button type="submit">Выбрать</button>
		<br><br>
		
	<a href="/list">Список всех отправленных данных</a>		
	</form>
</body>
</html>